/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Share Tech',sans serif;

}
p{
    font-size: 1.375rem;
    margin-top: 15px;
    margin-bottom: -10px;
}

:root{
    --verde:#20d420;
    --black:#1d1b1b;
}
body{
    background-color: #1d1b1b;
    color: rgb(241, 241, 241);
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    height: 100vh;
}
#boxPrincipal{
    background-color: rgb(61, 60, 60);
    /*display: flex;*/
    text-align: center;
    border-radius: 10px;
    border: 1px solid var(--verde);
    padding: 10px;
}

#areaPerguntas{
    text-align: start;
    /*display: flex;
    flex-direction: column;*/
    
}


.inputText{
    padding: 8px;
    width: 25%;
    outline-color:var(--verde) ;
    border: none;
    border-radius: 5px;
    font-size: 1.125rem;
}

#inputUpper{
    display: inline-block;
}
.areaBtnGerarSenha{
    margin-top: 8px;
    display: flex;
    
    justify-content: space-around;
}
.btn{
    width: 95px;
    padding: 8px 0;
    font-size: 1.125rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btnSenha{
    background-color: var(--verde); 
}
.btnSenha:hover{
    background-color: var(--black);
    border-color: var(--verde);
    color: var(--verde);
}
.btnLimpar{
    background-color: rgb(221, 218, 218);
    
    
}
.btnLimpar:hover{
    background-color: var(--black);
    border-color: var(--verde);
    color: var(--verde);
}

#areaResultado{
    text-align: center;
}
#resultToogle{
    
    margin-bottom: 5px;
}
#result{
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: 15px;
}